body{
    background-color: #141414;
}
/* Navigation */
.nav a{
    color: whitesmoke;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    float: left;
    font-family: Verdana,Geneva,sans-serif;
}
.nav img{
    padding-left: 3px;
    padding-top: 3px;
    width: 40px;
    height: 40px;
}
a.menuIcon{
    float: right;
    font-size: 10px;   
}
a.menuButton{
    float: right;
    border-color: lightgrey;
    border-style: solid;
    font-size: 10px;
}
a.menuButton:hover {
    font-weight: bold;
    background: rgb(107,101,214);
    background: linear-gradient(90deg, rgba(107,101,214,1) 0%, rgba(90,37,244,1) 50%, rgba(159,0,255,1) 100%);
}
.nav{
    width: 100%;
    overflow: auto;
    /* background-color: #333; */
    padding: 0px;
    margin: 0%;
    
}
.nav a:hover{
    background-color: #000;
}
ul{
  list-style-type: none;  
  padding: 0px 0px;
  margin: 0px 0px;
}
.nav table{
    background-color: white;
}
/* Get in Touch */
.connect{
    border-radius: 25px 50px;
    border-style: solid;
    background: rgb(107,101,214);
    background: linear-gradient(90deg, rgba(107,101,214,1) 0%, rgba(90,37,244,1) 50%, rgba(159,0,255,1) 100%);
    border-color: white;
    width:auto;
    font-family: Verdana,Geneva,sans-serif;
}
.connectGrid{
    display:grid;
    grid-template-columns: 5px auto 5px;
    grid-template-rows: 50px 50px 80px;
    place-items: center;
    padding: 0px 0px;
    column-gap: 0px;
    row-gap: 0px;
}
.connect b{
    color: white;
    font-size: 20px;
}
.connect input{
    border-color: lightgrey;
    border-style: solid;
    border-radius: 15px;
    padding: 10px 10px;
    
}
.connectGrid--message{
    height: auto;
    width: 375px;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 5px;
    border-width: initial;
}

/* Responsive */
article{
    width: clamp(200px, 50%, 600px)
}

@media scren and (max-width: 500px){
    .nav a{
        float: none;
        display: block;
    }
}